{% extends "!layout.html" %}
{% block extrahead %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TGRQK1JJYD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TGRQK1JJYD');
</script>

<div style="float: right; padding-bottom: 0;">
  PySDR is now available in:&nbsp;&nbsp;
  <img src="{{ pathto('_static/us.svg', 1) }}" alt="English Version" width="20"><a href="{{ pathto('index') }}">English</a>&nbsp;&nbsp;
  <img src="{{ pathto('_static/nl.svg', 1) }}" alt="Dutch Version" width="20"><a href="{{ pathto('nl/index-nl') }}">Dutch</a>&nbsp;&nbsp;
  <img src="{{ pathto('_static/fr.svg', 1) }}" alt="French Version" width="20"><a href="{{ pathto('fr/index-fr') }}">French</a>
</div>
{% endblock %}














